# import libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

# Data Types

In [ ]:
# Data Type

Code 3 different ways of reaching a result of 100 by adding or subtracting numeric variables.

In [3]:
x=50
y=50
z=x+y
print(z)

100

In [5]:
x=150
y=50
z=x-y
print(z)

100

In [8]:

print(70+30)

100

In [9]:

print(200-100)

100

# Code 2 floating-point variables and divide them by each other.

In [13]:
x=4.4
y=2.2
print(x/y)

2.0

In [18]:
225.50/ 5.5

41.0

# Construct a short word made of separate strings

In [23]:
x= 'I LIKE'
Y= 'PYTHON'
z= x +' '+ Y
print(z)

I LIKE PYTHON

In [28]:
print('P'+'Y'+'T'+'H'+'O'+'N')

PYTHON

# Construct 2 short sentences made of separate strings.

In [30]:
x='I LOVE TO'
y='LEARN PYTHON'
z=x+' '+y
print(z)

I LOVE TO LEARN PYTHON

# Bonus Task

At the bottom of your file, include a command that makes a string appear 100 times.

In [31]:
x=100*'a'
print(x)

aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

In [33]:
x=10*'a'
print(x)

aaaaaaaaaa